<! DOCTYPE html>
<html>
    <head>
        <script src='/js/app.js'></script>
        <link rel='stylesheet' href='/css/style.css'>
        <link rel='icon' href='/img/weather.png'>
        <title>404</title>
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <img src='/img/nodejs-logo.png'>
            <h3> {{textMessage}}</h3>
        </div>
        {{>footer}}
    </body>
</html>
